<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      The Ruby on Rails
    </p>
  </body>
</html>
